<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Checkout Kiosk - Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="kiosk-screen payment-screen">
        <div class="content">
            <h1>PILIH METODE</h1>
            <h2>PEMBAYARAN</h2>
            <div class="payment-options">
                <a href="{{ url_for('receipt') }}" class="payment-button">DEBIT CARD</a>
                <a href="{{ url_for('receipt') }}" class="payment-button">QRIS</a>
            </div>
        </div>
    </div>
</body>
</html>